<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin | addUser</title>
    <link rel="stylesheet" href="/css/Admin/adduser.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- <link rel="stylesheet" href="/css/Signup/page1.css" type="text/css"> -->
  </head>
  <body>
    <div class="background">
      <div class="backgroundImgFirst"></div>
      <div class="floatBox">
        <div class="logo">
          <span class="icon"></span>
          <!-- <span class="smilepay">SMILE PAY</span> -->
        </div>
        <form action="/addUser" method="POST">
          <%- include('../partials/messages') %>
          <div class="flexbox d-flex flex-column block-example">
            <div class="form-row">
              <div class="col-sm-6 my-1">
                <label for="exampleInputFirst1">Customer ID:</label>
                <input
                  type="Number"
                  class="form-control"
                  name="customerID"
                  id="customerID"
                  placeholder="145"
                  value="<%= typeof customerID != 'undefined' ? customerID : '' %>"
                />
              </div>
              <div class="col-sm-6 my-1">
                <label for="exampleInputLast1">Account:</label>
                <input
                  required
                  type="Number"
                  class="form-control"
                  name="account"
                  id="account"
                  placeholder="9879879879"
                  value="<%= typeof account != 'undefined' ? account : '' %>"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-6 my-1">
                <label for="exampleInputUser1">Name:</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="name"
                  placeholder="John Doe"
                  value="<%= typeof name != 'undefined' ? name : '' %>"
                />
              </div>
              <div class="col-sm-6 my-1">
                <label for="exampleInputAccountno">Gender:</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  name="gender"
                  id="gender"
                  placeholder="Male"
                  value="<%= typeof gender != 'undefined' ? gender : '' %>"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-6 my-1">
                <label for="exampleInputpassword1">DOB:</label>
                <input
                  required
                  type="date"
                  class="form-control"
                  name="DOB"
                  id="DOB"
                  placeholder="dd-mm-yyyy"
                  value="<%= typeof DOB != 'undefined' ? DOB : '' %>"
                />
              </div>
              <div class="col-sm-6 my-1">
                <label for="exampleInputconfirmPassword1">Email:</label>
                <input
                  required
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="john.doe@gmail.com"
                  value="<%= typeof email != 'undefined' ? email : '' %>"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-6 my-1">
                <label for="exampleInputemail1">Aadhar:</label>
                <input
                  required
                  type="Number"
                  class="form-control"
                  name="aadhar"
                  id="aadhar"
                  placeholder="123456789012"
                  value="<%= typeof aadhar != 'undefined' ? aadhar : '' %>"
                />
              </div>
              <div class="col-sm-6 my-1">
                <label for="exampleInputconfirmPassword1">PAN:</label>
                <input
                  required
                  type="text"
                  style="text-transform: uppercase"
                  class="form-control"
                  name="pan"
                  id="pan"
                  placeholder="AA123456DC"
                  value="<%= typeof pan != 'undefined' ? pan : '' %>"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-6 my-1">
                <label for="exampleInputemail1">Balance:</label>
                <input
                  class="form-control"
                  required
                  type="Number"
                  class="form-control"
                  name="totalAmount"
                  id="totalAmount"
                  placeholder="10000"
                  value="<%= typeof totalAmount != 'undefined' ? totalAmount : '' %>"
                />
              </div>
            </div>
            <button type="submit" class="btn btn-success btn-sm mt-3">
              SIGNUP
            </button>
          </div>
        </form>
      </div>
      <div class="backgroundImgSecond"></div>
    </div>
  </body>
</html>
