<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin | UPDATE</title>
    <link rel="stylesheet" href="/css/Admin/updateSignup.css" type="text/css" />
    <link rel="stylesheet" href="/css/Admin/adduser.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="./../../clientJS/Admin/display.js"></script>
    <script src="./../../clientJS/Admin/addUser.js"></script>
    <link
      rel="stylesheet"
      href="./../../css/Admin/updateSignup.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="background">
      <div class="backgroundImgFirst"></div>
      <div class="floatBox">
        <div class="logo">
          <span class="icon"></span>
        </div>
        <form action="/updatesignup" method="POST">
          <%- include('../partials/messages') %>
          <div class="flexbox d-flex flex-column block-example">
            <div class="form-row">
              <div class="col-sm-6 my-1">
                <label for="exampleInputFirst1">Customer ID:</label>
                <input
                  type="Number"
                  class="form-control"
                  name="customerID"
                  id="customerID"
                  value="<%= typeof customerID != 'undefined' ? customerID : '' %>"
                  style="display: none"
                />
                <div
                  type="Number"
                  name="customerID"
                  id="customerID1"
                  value="<%= typeof customerID != 'undefined' ? customerID : '' %>"
                  onclick="changeDisplay(id)"
                  class="inputDiv"
                ></div>
              </div>
              <div class="col-sm-6 my-1">
                <label for="exampleInputLast1">Account:</label>
                <input
                  required
                  type="Number"
                  class="form-control"
                  name="account"
                  id="account"
                  value="<%= typeof account != 'undefined' ? account : '' %>"
                  style="display: none"
                />
                <div
                  type="Number"
                  name="account"
                  id="account1"
                  value="<%= typeof account != 'undefined' ? account : '' %>"
                  onclick="changeDisplay(id)"
                  class="inputDiv"
                ></div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-6 my-1">
                <label for="exampleInputUser1">Name:</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="name"
                  value="<%= typeof account != 'undefined' ? account : '' %>"
                  style="display: none"
                />
                <div
                  type="text"
                  name="name"
                  id="name1"
                  value="<%= typeof name != 'undefined' ? name : '' %>"
                  onclick="changeDisplay(id)"
                  class="inputDiv"
                ></div>
              </div>
              <div class="col-sm-6 my-1">
                <label for="exampleInputAccountno">Gender:</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  name="gender"
                  id="gender"
                  value="<%= typeof gender != 'undefined' ? gender : '' %>"
                  style="display: none"
                />
                <div
                  type="text"
                  name="gender"
                  id="gender1"
                  value="<%= typeof gender != 'undefined' ? gender : '' %>"
                  onclick="changeDisplay(id)"
                  class="inputDiv"
                ></div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-6 my-1">
                <label for="exampleInputpassword1">DOB:</label>
                <input
                  required
                  type="date"
                  class="form-control"
                  name="DOB"
                  id="DOB"
                  value="<%= typeof DOB != 'undefined' ? DOB.toISOString() : '' %>"
                  style="display: none"
                />
                <div
                  name="DOB"
                  id="DOB1"
                  value="<%= typeof DOB != 'undefined' ? DOB : '' %>"
                  onclick="changeDisplay(id)"
                  class="inputDiv"
                ></div>
              </div>
              <div class="col-sm-6 my-1">
                <label for="exampleInputconfirmPassword1">Email:</label>
                <input
                  required
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  value="<%= typeof email != 'undefined' ? email : '' %>"
                  style="display: none"
                />
                <div
                  type="email"
                  name="email"
                  id="email1"
                  value="<%= typeof email != 'undefined' ? email : '' %>"
                  onclick="changeDisplay(id)"
                  class="inputDiv"
                ></div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-6 my-1">
                <label for="exampleInputemail1">Aadhar:</label>
                <input
                  required
                  type="Number"
                  class="form-control"
                  name="aadhar"
                  id="aadhar"
                  value="<%= typeof aadhar != 'undefined' ? aadhar : '' %>"
                  style="display: none"
                />
                <div
                  type="Number"
                  name="aadhar"
                  id="aadhar1"
                  value="<%= typeof aadhar != 'undefined' ? aadhar : '' %>"
                  onclick="changeDisplay(id)"
                  class="inputDiv"
                ></div>
              </div>
              <div class="col-sm-6 my-1">
                <label for="exampleInputconfirmPassword1">PAN:</label>
                <input
                  required
                  type="text"
                  style="text-transform: uppercase; display: none"
                  class="form-control"
                  name="pan"
                  id="pan"
                  value="<%= typeof pan != 'undefined' ? pan : '' %>"
                />
                <div
                  type="Number"
                  name="pan"
                  id="pan1"
                  value="<%= typeof pan1 != 'undefined' ? pan1 : '' %>"
                  onclick="changeDisplay(id)"
                  class="inputDiv"
                ></div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-6 my-1">
                <label for="exampleInputemail1">Balance:</label>
                <input
                  class="form-control"
                  required
                  type="Number"
                  class="form-control"
                  name="totalAmount"
                  id="totalAmount"
                  value="<%= typeof totalAmount != 'undefined' ? totalAmount : '' %>"
                  style="display: none"
                />
                <div
                  type="Number"
                  name="totalAmount"
                  id="totalAmount1"
                  value="<%= typeof totalAmount != 'undefined' ? totalAmount : '' %>"
                  onclick="changeDisplay(id)"
                  class="inputDiv"
                ></div>
              </div>
            </div>
            <div class="flex d-flex">
              <a href="/updateUser" class="backAdd btn btn-dark btn-lg mt-3">
                BACK
              </a>
              <button
                type="submit"
                class="signupAdd btn btn-success btn-lg mt-3"
              >
                UPDATE
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="backgroundImgSecond"></div>
    </div>
  </body>
  <script src="./../../clientJS/Admin/updatesignup.js"></script>
</html>
